data/test/*
!data/test/.gitkeep
data/*/train/*
!data/*/train/.gitkeep
data/*/val/*
!data/*/val/.gitkeep
data/*.zip
data/news_url
data/MIND
data/msn.json
data/*.vocab

recommenders/

submit/*
!submit/.gitkeep

test.ipynb

*/train_log/*
!*/train_log/.gitkeep

*/*/checkpoint/*
!*/*/checkpoint/.gitkeep

__pycache__
*/__pycache__
*/*/__pycache__

NN/*/train_log/tensorboard/*
!NN/*/train_log/tensorboard/.gitkeep
